/* Envolver el contenido con flex para centrarlo */
.Contacto-wrapper {
  margin-top: 0 !important;
  padding-top: 0 !important; 
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: start; /* Centrar verticalmente */
  height: 100vh; /* Ocupar toda la altura de la pantalla */
}

/* Estilos del contenedor */
.Container-contacto {
  margin-top: 0 !important;
  padding-top: 0 !important; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  color: black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Ajustes para diferentes tamaños de pantalla */
@media (min-width: 1024px) {
  .Container-contacto {
      width: 600px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .Container-contacto {
      width: 500px;
  }
}

@media (max-width: 767px) {
  .Container-contacto {
      width: 90%;
  }
}
